      <div style="float:right;border: 1px solid LightGrey;width:82%">
	<div>


	      {{#posts}}
<div class="list_item list_view">
  <div class="article_title">   
    <h1>
      <span class="link_title"><a href="{{post-uri}}">{{post-title}}</a></span>
    </h1>
  </div>
  <div class="article_manage">
    <span class="link_postdate">{{date}}</span>
  </div>
</div>	      
	      {{/posts}}

	</div>
	<div class="clear">
	</div>
      </div>
      <div class="clear">
      </div>
    </div>
