<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>{{page-title}}</title>
    <meta charset="utf-8" />
    <meta name="author" content="{{author}}" />
    {{#description}}
    <meta name="description" content="{{description}}" />
    {{/description}}
    {{#keywords}}
    <meta name="keywords" content="{{keywords}}" />
    {{/keywords}}
    <link rel="stylesheet" href="/media/css/main.css" type="text/css">
  </head>
  <body>
    <div id="header">
      <div class="header">
        <div id="blog_title">
          <h2><a href="/">木马牛</a></h2>
          <h3>等咱有了钱，买两碗豆浆，一碗爱喝不喝，一碗就是不喝！</h3>
          <div class="clear">
          </div>
        </div>
        <div class="clear">
        </div>
      </div>      
    </div>
    <div>
      {{{nav}}}
      {{{content}}}
  </body>
</html>

