<!DOCTYPE html>
<html lang="en-us">
  {{{header}}}
  <body>
    <div>
      <div style="float:left;border: 1px solid LightGrey;width:16%">
	{{{nav}}}
      </div>
      <div style="float:right;border: 1px solid LightGrey;width:72%;padding: 2% 5% 5% 5%;">
	{{{content}}}
	{{{comment}}}
	</div>
        <div class="clear"></div>
    </div>
  </body>
</html>

