      <div style="float:left;border: 1px solid LightGrey;width:16%">
      {{! nav }}
      	<ul class="tag_box inline">
      	  <h4>Category</h4>
        <ul>
          {{#nav-categories}}
          <li><a href="{{category-uri}}">{{category-name}}</a></li>
          {{/nav-categories}}
        </ul>

      	<div class="clear">
      	</div>

      </div>
