      <div style="float:left;border: 1px solid LightGrey;width:16%">
      {{! nav }}
      	<ul class="tag_box inline">
      	  <h4>Category</h4>
          {{#nav-categories}}
          <a href="{{category-uri}}">{{category-name}}</a>
          {{/nav-categories}}

      	<div class="clear">
      	</div>

      </div>
