<div style="float:right;border: 1px solid LightGrey;width:72%;padding: 2% 5% 5% 5%;">{{! content, do NOT indent}}
<div class="post">
{{#title}}
<h1 class="title">{{title}}</h1>
{{/title}}
{{{content}}}
</div>
</div>